:root{
    --dark-text:#777;
    --white-bg:#fff;
    --footer-bg:#333;
    --footer-text:#f7f7f7;
    --transparent-white:#ffffff99;
    --gradient-green:linear-gradient(to right, #7ed56f, #28b485);
    --dark-green:#55c57a;
    --lato-font:'Lato', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--lato-font);
    color: var(--dark-text);
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
    display: block;
}
@media (min-width:768px) {
    body{
        padding: 3rem;
    }
}
/***** general *****/
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
}
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.paddingY {
    padding: 15rem 0;
}
.title{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: var(--gradient-green);
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.title:hover{
    text-shadow: 0.5rem 1rem 2rem rgb(0 0 0 / 20%);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
    -moz-transform: skewY(2deg) skewX(15deg) scale(1.1);
    -ms-transform: skewY(2deg) skewX(15deg) scale(1.1);
    -o-transform: skewY(2deg) skewX(15deg) scale(1.1);
}
.primaryButton{
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    font-size: 1.6rem;
    border: none;
    color: var(--white-bg);
    background: var(--dark-green);
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.primaryButton:hover,
.primaryButton:focus {
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    animation: pulseWhite .8s ease-out backwards;
    -webkit-animation: pulseWhite .8s ease-out backwards;
}
@keyframes pulseWhite {
	0% {
		box-shadow: 0 0 0 0 rgba(248, 248, 248, 0.7);
    }
	70% {
		box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
    }
	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
.secondryButton{
    font-size: 1.6rem;
    color: var(--dark-green);
    background: transparent;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.0625rem solid var(--dark-green);
    padding: 0.1875rem;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    animation: pulseGreen .8s ease-out backwards;
    -webkit-animation: pulseGreen .8s ease-out backwards;
}
@keyframes pulseGreen {
	0% {
		box-shadow: 0 0 0 0 rgb(85, 197, 122,0.7);
	}
	70% {
		box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
.secondryButton:hover,
.secondryButton:focus{
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 15%);
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}
::selection {
    background: var(--dark-green);
    }
/***** End general *****/
/***** navbar *****/
.nav .flexContainer{
    justify-content: space-between;
    flex-direction: row;
    margin-top: 2rem;
    padding: 0 0.625rem;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
.toggleButton{
    background-color: var(--white-bg);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    z-index: 5;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 10%);
    cursor: pointer;
    border: none;
    text-align: center;
}
.toggleButton i{
    font-size: 2rem;
    color: var(--dark-text);
    transform: translateY(27%);
    -webkit-transform: translateY(27%);
    -moz-transform: translateY(27%);
    -ms-transform: translateY(27%);
    -o-transform: translateY(27%);
}
.navLogo{
    width: 24%;
}
.navLinks{
    text-align: center;
}
.navLinks a{
    color: var(--white-bg);
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: all .45s;
    -webkit-transition: all .45s;
    -moz-transition: all .45s;
    -ms-transition: all .45s;
    -o-transition: all .45s;
}
.navLinks li{
    padding: 0.5rem 0.625rem;
    transition: all .45s;
    -webkit-transition: all .45s;
    -moz-transition: all .45s;
    -ms-transition: all .45s;
    -o-transition: all .45s;
}
.navLinks li:hover{
    transform: translateX(1rem);
    background-position: 100% center;
    display: inline-block;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgb(255, 255, 255) 50%);
    background-size: 220%;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    -webkit-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -o-transform: translateX(1rem);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
.navLinks  li:hover a{
    color: rgb(85, 197, 122);
}
#openToggle:hover{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
#active:checked ~ #navOverlay{
    clip-path: circle(75%);
    background-image: var(--gradient-green);
}
#active{
    display: none;
}
#navOverlay{
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    z-index: 2;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media (min-width:768px) {
    .nav .flexContainer{
        margin-top: 0;
    }
    .nav{
        top: 5.5625rem;
    }
    .toggleButton{
        height: 5rem;
        width: 5rem;
        right: 0;
    }
    .toggleButton i{
        font-size: 3rem;
        transform: translateY(33%);
        -webkit-transform: translateY(33%);
        -moz-transform: translateY(33%);
        -ms-transform: translateY(33%);
        -o-transform: translateY(33%);
    }
    .navLogo{
        margin-top: 0;
        width: 8%;
    }
    .navLinks li{
        padding: 1rem 2rem;
    }
    .navLinks a{
        font-size: 3rem;
    }
}
/***** End navbar *****/
/***** hero *****/
.hero .flexContainer{
    justify-content: center;
    transform: translateY(89%);
    align-items: center;
    align-content: center;
}
.hero{
    height: 85vh;
    background: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8)),url(../assets/img/hero-small.jpg) top;
    background-size: cover;
    position: relative;
    color: var(--white-bg);
    text-align: center;
    clip-path: polygon(0px 0px, 100% 0px, 99.85% 71.56vh, 1px 99.35%);
}
.hero h2{
    font-size: 3rem;
    font-weight: 400;
    animation: moveLeft 1s ease-out;
    -webkit-animation: moveLeft 1s ease-out;
    position: relative;
}
.hero p{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 6rem;
    animation: moveRight 1s ease-out ;
    -webkit-animation: moveRight 1s ease-out ;
    position: relative;
}
.hero .primaryButton{
    color: var(--dark-text);
    background: var(--white-bg);
    padding: 0.8125rem 2rem;
    font-size: 1rem;
}
@keyframes moveLeft {
    from{
        left: 0.625rem;
    }
    to{
        left: 6.25rem;
    }
}
@keyframes moveRight {
    from{
        right: 0;
    }
    to{
        right: 5.625rem;
    }
}
@media (min-width:768px) {
    .hero h2{
        font-size: 4rem;
        letter-spacing: 1.5rem;
    }
    .hero p{
        font-size: 2rem;
        letter-spacing: 1.75rem;
    }
    .hero .primaryButton{
        padding: 0.875rem 3.125rem;
    }
}
/***** End hero *****/
/***** popular *****/
.popular{
    background:var(--footer-text) ;
    padding: 15rem 0 5rem 0;
}
.popularWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}
.popularCard{
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
    width: 100%;
    margin-bottom: 4rem;
}
.popularCard li{
    border-bottom: 1px solid #eee;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
}
.popularHeader{
    height: 13rem;
    position: relative;
}
.popularHeader span{
    color: var(--white-bg);
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    width: 60%;
    padding: 1rem 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}
.popularHeaderYellow{
    background: linear-gradient(to right bottom, #ffb900c9, #ff773078),url(../assets/img/nat-5.jpg) no-repeat;
    background-size: cover;
}
.popularCardYellow .popularFooter,
.popularHeaderYellow span{
    background-image:  linear-gradient(to right bottom, #ffb900, #ff7730);
}
.popularHeaderGreen{
    background: linear-gradient(to right bottom,#7ed56f82, #28b48575),url(../assets/img/nat-6.jpg) no-repeat;
    background-size: cover;
}
.popularCardGreen .popularFooter,
.popularHeaderGreen span{
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.popularHeaderBlue{
    background:linear-gradient(to right bottom,  #2998ff70, #5643fa4f),url(../assets/img/nat-7.jpg) no-repeat;
    background-size: cover;
}
.popularCardBlue .popularFooter,
.popularHeaderBlue span{
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.popularFooter{
    text-align: center;
    padding: 4rem 3rem 3rem 3rem;
    color: var(--white-bg);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}
.popularFooter h4{
    font-weight: 100;
    font-size: 2rem;
    padding: 20px 0;
}
.popularCard .primaryButton{
    background: var(--white-bg);
    color: var(--dark-text);
    font-size: 0.75rem;
    padding: 1rem 1.5rem;
}
/***** End popular *****/