:root{
    --dark-text:#777;
    --white-bg:#fff;
    --footer-bg:#333;
    --footer-text:#f7f7f7;
    --transparent-white:#ffffff99;
    --gradient-green:linear-gradient(to right, #7ed56f, #28b485);
    --dark-green:#55c57a;
    --lato-font:'Lato', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--lato-font);
    color: var(--dark-text);
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
    display: block;
}
@media (min-width:768px) {
    body{
        padding: 3rem;
    }
}
/***** general *****/
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
}
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.paddingY {
    padding: 15rem 0;
}
.title{
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-color: var(--dark-green);
    background-image:var(--gradient-green);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.title:hover{
    text-shadow: 0.5rem 1rem 2rem rgb(0 0 0 / 20%);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
    -moz-transform: skewY(2deg) skewX(15deg) scale(1.1);
    -ms-transform: skewY(2deg) skewX(15deg) scale(1.1);
    -o-transform: skewY(2deg) skewX(15deg) scale(1.1);
}
.primaryButton{
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    font-size: 1.6rem;
    border: none;
    color: var(--white-bg);
    background: var(--dark-green);
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.primaryButton:hover,
.primaryButton:focus {
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    animation: pulseWhite .8s ease-out backwards;
    -webkit-animation: pulseWhite .8s ease-out backwards;
}
@keyframes pulseWhite {
	0% {
		box-shadow: 0 0 0 0 rgba(248, 248, 248, 0.7);
    }
	70% {
		box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
    }
	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
.secondryButton{
    font-size: 0.8rem;
    color: var(--dark-green);
    background: transparent;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.0625rem solid var(--dark-green);
    padding: 0.1875rem;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    animation: pulseGreen .8s ease-out backwards;
    -webkit-animation: pulseGreen .8s ease-out backwards;
}
@keyframes pulseGreen {
	0% {
		box-shadow: 0 0 0 0 rgb(85, 197, 122,0.7);
	}
	70% {
		box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
.secondryButton:hover,
.secondryButton:focus{
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 15%);
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}
@media (min-width:768px) {
    .title{
        font-size: 2.1875rem;
    }
    .secondryButton{
        font-size:  1.6rem;
    }
    ::selection {
        background: var(--dark-green);
        }
    }
/***** End general *****/
/***** navbar *****/
.nav .flexContainer{
    justify-content: space-between;
    flex-direction: row;
    margin-top: 2rem;
    padding: 0 0.625rem;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
.toggleButton{
    background-color: var(--white-bg);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    z-index: 5;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 10%);
    cursor: pointer;
    border: none;
    text-align: center;
}
.toggleButton i{
    font-size: 2rem;
    color: var(--dark-text);
    transform: translateY(27%);
    -webkit-transform: translateY(27%);
    -moz-transform: translateY(27%);
    -ms-transform: translateY(27%);
    -o-transform: translateY(27%);
}
.navLogo{
    width: 24%;
}
.navLinks{
    text-align: center;
}
.navLinks a{
    color: var(--white-bg);
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: all .45s;
    -webkit-transition: all .45s;
    -moz-transition: all .45s;
    -ms-transition: all .45s;
    -o-transition: all .45s;
}
.navLinks li{
    padding: 0.5rem 0.625rem;
    transition: all .45s;
    -webkit-transition: all .45s;
    -moz-transition: all .45s;
    -ms-transition: all .45s;
    -o-transition: all .45s;
}
.navLinks li:hover{
    transform: translateX(1rem);
    background-position: 100% center;
    display: inline-block;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgb(255, 255, 255) 50%);
    background-size: 220%;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    -webkit-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -o-transform: translateX(1rem);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
.navLinks  li:hover a{
    color: rgb(85, 197, 122);
}
#openToggle:hover{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
#active:checked ~ #navOverlay{
    clip-path: circle(75%);
    background-image: var(--gradient-green);
}
#active{
    display: none;
}
#navOverlay{
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    z-index: 2;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media (min-width:768px) {
    .nav .flexContainer{
        margin-top: 0;
    }
    .nav{
        top: 5.5625rem;
    }
    .toggleButton{
        height: 5rem;
        width: 5rem;
        right: 0;
    }
    .toggleButton i{
        font-size: 3rem;
        transform: translateY(33%);
        -webkit-transform: translateY(33%);
        -moz-transform: translateY(33%);
        -ms-transform: translateY(33%);
        -o-transform: translateY(33%);
    }
    .navLogo{
        margin-top: 0;
        width: 8%;
    }
    .navLinks li{
        padding: 1rem 2rem;
    }
    .navLinks a{
        font-size: 3rem;
    }
}
/***** End navbar *****/
/***** hero *****/
.hero .flexContainer{
    justify-content: center;
    transform: translateY(89%);
    align-items: center;
    align-content: center;
}
.hero{
    height: 85vh;
    background: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8)),url(../assets/img/hero-small.jpg) top;
    background-size: cover;
    position: relative;
    color: var(--white-bg);
    text-align: center;
    clip-path: polygon(0px 0px, 100% 0px, 99.85% 71.56vh, 1px 99.35%);
}
.hero h2{
    font-size: 3rem;
    font-weight: 400;
    animation: moveLeft 1s ease-out;
    -webkit-animation: moveLeft 1s ease-out;
    position: relative;
}
.hero p{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 6rem;
    animation: moveRight 1s ease-out ;
    -webkit-animation: moveRight 1s ease-out ;
    position: relative;
}
.hero .primaryButton{
    color: var(--dark-text);
    background: var(--white-bg);
    padding: 0.8125rem 2rem;
    font-size: 1rem;
}
@keyframes moveLeft {
    from{
        left: 0.625rem;
    }
    to{
        left: 6.25rem;
    }
}
@keyframes moveRight {
    from{
        right: 0;
    }
    to{
        right: 5.625rem;
    }
}
@media (min-width:768px) {
    .hero h2{
        font-size: 4rem;
        letter-spacing: 1.5rem;
    }
    .hero p{
        font-size: 2rem;
        letter-spacing: 1.75rem;
    }
    .hero .primaryButton{
        padding: 0.875rem 3.125rem;
    }
}
/***** End hero *****/
/***** tour *****/
.tour{
    background: var(--footer-text);
    padding: 15rem 0;
}
.tour .flexContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.tour .title{
    margin-bottom: 3rem;
}
.tourDesc{
    padding: 0 1rem;
    text-align: left;
    margin: 0 0 3.75rem 0;
}
.tourDesc h4{
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
}
.tourDesc p{
    margin-bottom: 1.6rem;
    font-size: 0.8rem;
}
.tourImages{
    display: flex;
    justify-content: center;
}
.tourImg{
    top: 0;
    width: 30.3%;
}
.tourImg:hover{
    outline: 1rem solid var(--dark-green);
    outline-offset: 1rem;
    border-radius: 5px;
    box-shadow: 0 2.5rem 4rem rgb(0 0 0 / 50%);
    z-index: 20;
    transform: scale(1.5) translateY(-0.5rem);
    -webkit-transform: scale(1.5) translateY(-0.5rem);
    -moz-transform: scale(1.5) translateY(-0.5rem);
    -ms-transform: scale(1.5) translateY(-0.5rem);
    -o-transform: scale(1.5) translateY(-0.5rem);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.centerImg{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    z-index: 1;
}
@media (min-width:768px) {
    .tour .flexContainer{
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    .tourDesc{
        width: 45%;
        padding: 0 1.375rem 0 0.75rem;
        margin: 0;
    }
    .tourDesc h4,
    .tourDesc p{
        font-size: 1rem;
    }
    .tourImages{
        width: 49%;
        justify-content: flex-end;
    }
    .tourImg{
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
    }
    .centerImg{
        transform: scale(1.6);
        -webkit-transform: scale(1.6);
        -moz-transform: scale(1.6);
        -ms-transform: scale(1.6);
        -o-transform: scale(1.6);
    }
}
/***** End tour *****/
/***** features *****/
.features{
    padding: 15rem 0;
    background:linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8)),url(../assets/img/nat-4.jpg);
    background-size: cover;
    margin-top: -10rem;
    transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);
}
.featuresWrapper{
    transform: skewY(7deg);
    display: flex;
    flex-direction: column;
}
.featureCard{
    background: rgba(255,255,255,0.8);
    padding: 1rem;
    color: var(--dark-text);
    font-size: 0.75rem;
    margin-bottom: 4rem;
    text-align: center;
    transition: transform .3s;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
}
.featureCard:hover{
    transform: translateY(-1.5rem) scale(1.03);
}
.featureIcon{
    background-color: var(--dark-green);
    background-image:var(--gradient-green);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: .5rem;
}
.featureTitle{
    font-size: 0.8rem;
    margin: 0 0 0.75rem;
}
@media (min-width:1024px) {
    .featuresWrapper{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .featureCard{
        width: 22.5%;
        font-size: 1rem;
        padding: 2.5rem;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
    }
    .featureTitle{
        font-size: 1.2rem;
    }
}
/***** End features *****/
/***** contact *****/
.contact{
    background: linear-gradient(to right bottom, #7ed56f, #28b485);
    padding: 15rem 0;
}
/***** End contact *****/
/***** footer *****/
footer{
    background-color: var(--footer-bg);
    color: var(--footer-text);
    padding: 4rem 0;
}
footer figure{
    margin: 3rem 0;
    width: 8rem;
}
.footerInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}
.footerLinks{
    width: 100%;
    display: flex;
    border-top: 1px solid var(--dark-text);
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
}
.footerLinks a{
    color: var(--white-bg);
    padding: 15px 5px;
}
.footerCopyWrite{
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--dark-text);
    margin-top: 3rem;
}
@media (min-width:768px) {
    .footerInfo{
        flex-direction: row;
        align-items: baseline;
    }
    .footerLinks{
        width: 40%;
        justify-content: flex-start;
    }
    .footerCopyWrite{
        width: 40%;
    }
    footer a:hover{
        color: var(--dark-green);
        box-shadow: 0 1rem 2rem rgb(0 0 0 / 40%);
        transform: rotate(45deg) scale(1.3);
        -webkit-transform: rotate(45deg) scale(1.3);
        -moz-transform: rotate(45deg) scale(1.3);
        -ms-transform: rotate(45deg) scale(1.3);
        -o-transform: rotate(45deg) scale(1.3);
}
}
/***** End footer *****/